<html>
    <head>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.2/xlsx.full.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.2/jszip.js"></script>
    </head>
    <body>
            <div id="drop">Drop a spreadsheet file here to see sheet data</div>
            <input type="file" name="xlfile" id="xlf" />
            <script src="scripts/excelReader.js"></script>
            <input type="button" onclick="send_data()" value="Submit">

            <br><br>

            <div>Hi Admin</div>
    </body>

    
    
</html>

