<html>
    <head>
        <script src="/jquery-3.1.1.min.js"></script>
        <script src="/highcharts.js"></script>
        <script src="/charting.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="stylesheet/stylesheet.css">
    </head>
    <body>
        <div id="sidebar">
            <div id="headSidebar">
                <img src="images/small-logo-cutWhite.png">
            </div>
            
            <div id="sidebarOptions">
                <a href="#" style="color: black; font-size: 2vw">Imperial College<br>Investment Society</a>
                <input type="text" id="sidebarSearch" placeholder="Search stock or name">
                <a href="#">Home</a>
                <a href="#">Portfolio</a>
                <a href="#">Watchlist</a>
                <a href="#">Leaderboard</a>
                <a href="#">Society</a>


                <!-- Play about with design -->
                <div style="bottom: 10px; right: 10px; position: absolute; z-index: 15; color: #c4c4c4; font-weight: bold;">Logged in as <span style="color: white">Hilliam Tung</span></div>
                <img src="images/small-logo-cutBLUE.png" style="position: absolute; bottom: -25px; right: -8px; width: 50%; z-index: 10">
                <img src="images/small-logo-cutBLUE.png" style="position: absolute; bottom: -15px; right: 0; width: 55%; filter: brightness(50%); z-index: 5">

                <!--
                <div id="marketUpdate">
                    Posts<br>
                    <div style="color: grey; box-shadow: 0px 0px 5px #e5e5e5; padding: 15px; margin: 5px;">
                        <span style="color: black">Market Update (25/11/18)</span><br>
                        This week oil sinks lower, the industry reacts to higher interest rates and crypto bank struggles...
                    </div>
                    <div style="color: grey; box-shadow: 0px 0px 5px #e5e5e5; padding: 15px; margin: 5px;">
                        <span style="color: black">Market Update (18/11/18)</span><br>
                        This week has it been the worst year for the financial markets, Brexit Deal, first crypto ETP and ESG on the rise....
                    </div>
                </div>
                -->
            </div>
        </div>

        <div id="main">
            <div class="randomChart">
                <span class="contentTitle">Society Portfolio</span>
                <div id="randomChart-18" style="border-bottom: 1px solid whitesmoke;"></div>
                <div class="chartStats">
                    Total Value <span>$1,800</span>
                </div>
                <div class="chartStats">
                    Net Profit <span class="positive">+$1,000</span>
                </div>
                <div class="chartStats">
                    Relative Profit <span class="positive">+1.60%</span>
                </div>
                <div class="chartStats">
                    Change since 24 hours ago <span>$1,200,000</span>
                </div>
            </div>
            
            <div class="dataBlock">
                <span class="contentTitle">Spread</span>
                <table>
                    <tr>
                        <th>Symbol</th>
                        <th>Shares</th>
                        <th>Value</th>
                        <th>Today's return</th>
                        <th>Return</th>
                        <th>Return with sells</th>
                        <th>Price/Share</th>
                    </tr>
                    <tr>
                        <td>INSY</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                    <tr>
                        <td>OCLR</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                    <tr>
                        <td>BND</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                    <tr>
                        <td>AKS</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                    <tr>
                        <td>CNF</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                    <tr>
                        <td>TODUL</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                    <tr>
                        <td>NUKYE</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                    <tr>
                        <td>OSKO</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                    <tr>
                        <td>TUND</td>
                        <td>5</td>
                        <td>$72.94</td>
                        <td>-$0.07 (-0.10%)</td>
                        <td>$0.37 (+0.51%)</td>
                        <td>$0.37</td>
                        <td>$10.42</td>
                    </tr>
                </table>
            </div>
        </div>

        <script>
            createLineChart("https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json", "randomChart-18")
        </script>
    </body>
</html>